<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nibm.donation">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Donation"
        tools:targetApi="31">
        <activity
            android:name=".CheckPostActivity"
            android:exported="false" />
        <!-- Main Activity (Launcher Activity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Donation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Go to Activity -->
        <activity
            android:name=".Go_to_Activity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- Donor and Recipient Activities -->
        <activity
            android:name=".DonorActivity"
            android:exported="true"
            android:label="Donor Page" />
        <activity
            android:name=".RecipientActivity"
            android:exported="true"
            android:label="Recipient Page" />
        <activity
            android:name=".Check_post_Activity"
            android:exported="true"
            android:label="Check Posts"
            tools:ignore="Instantiatable" />
    </application>

</manifest>